
.navegação input {
    position: absolute;
    width: 592px;
    height: 54px;
    left: 650px;
    top: 580px;

    background-color:#8CEFFB50;
    border-radius: 20px;
}

.container__img_apa {
    height: 385px;
    width: 100%;
}

.container__preciso {
    position: relative;
    margin-left: 25%;
    background-color: #82EFEA;
    width: 401px;
    height: 44px;
    padding: 1em 9em;
    border-radius: 12px;
    color: black;
    top: 130px;
}

.container__posso_comer {
    position: relative;
    background-color: #82EFEA;
    width: 401px;
    height: 44px;
    padding: 1em 9em;
    border-radius: 12px;
    color: black;
    top: 130px;
}

.apa {
    margin-bottom: 17%;
}